<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https:www.thymeleaf.org/extras/spring-security6">
<head>
  <meta charset="UTF-8">
  <title>Fragments</title>
</head>
<body>
<div th:fragment="header">
  <div class="wrapheader">
    <div class="header_top">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-5 col-md-6 d-none d-sm-none d-lg-block">
            <div class="content_h_left">
              Hotline:
              <a href="tel:18006750">18006750</a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7 d-list d-none d-sm-none d-lg-block a-right topbar_right">
            <div class="list-inline a-center f-right">
              <ul>
                <li class="hidden-xs">
                  <a th:href="@{/contact}" title="contact" class="account_a">
                    Liên hệ
                  </a>
                </li>
                <li class="hidden-xs">
                  <a href="#" title="Hệ thống cửa hàng" class="account_a">
                    Hệ thống cửa hàng
                  </a>
                </li>
                <li>
                  <a th:if="${#authorization.expression('isAuthenticated()')}" class="account_a register_btn" sec:authentication="name"></a>
                </li>
                <li>
                  <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}" class="account_a login_btn" >Đăng xuất</a>
                </li>
                <li>
                  <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/register}" class="account_a register_btn" title="Đăng ký">Đăng ký</a>
                </li>
                <li>
                  <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}" class="account_a login_btn" title="Đăng nhập">Đăng nhập</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_midder site-header">
      <div class="container">
        <div class="header_mobi d-sm-block d-lg-none">
          <div class="menu-bar hidden-md hidden-lg">
            <i class="fa fa-bars"></i>
          </div>
          <div class="logo_">
            <div class="logo">
              <a th:href="@{home}" class="logo-wrapper">
                <img th:src="@{/img/logo-add-01gg-e1680256236315.png}" alt="logo Teddy">
              </a>
            </div>
          </div>
          <div class="heading-cart text-xs-left margin-right-0">
            <a href="/cart" class="icon-cart">
              <img th:src="@{/img/icon_hovercart.png}"alt="Teddy">
              <span class="count_item count_item_pr cartCount">0</span>
            </a>
          </div>
          <div class="header_search">
            <form class="input-group search-bar" action="/search" method="get" role="search">
              <input type="search" name="query" value="" placeholder="Tìm kiếm sản phẩm... " class="input-group-field st-default-search-input search-text" autocomplete="off">
              <span class="input-group-btn">
                    <button class="btn icon-fallback-text">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 d-none d-sm-none d-lg-block">
            <div class="logo">
              <a th:href="@{/home}" class="logo-wrapper ">
                <img th:src="@{/img/logo-add-01gg-e1680256236315.png}" alt="logo Teddy" style="width: 80px">
              </a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block d-xl-block">
            <div class="header_search">
              <form class="input-group search-bar" action="/search" method="get" role="search">
                <input type="search" name="query" value="" placeholder="Tìm kiếm sản phẩm... " class="input-group-field st-default-search-input search-text" autocomplete="off">
                <span class="input-group-btn">
                      <button class="btn icon-fallback-text">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
              </form>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 d-none d-lg-block d-xl-block">
            <div class="cartsearch d-none d-lg-block d-xl-block">
              <div class="carthd">
                <div class="mini-cart text-xs-center">
                  <div class="heading-cart cart_header">
                    <a class="bg_cart" th:href="@{/cart}" title="Giỏ hàng">
                      <img alt="Giỏ hàng" th:src="@{/img/icon_hovercart.png}">
                      <span class="count_item count_item_pr" id="showTotalItemInCart" th:text="${session.totalItems}" >0</span>
                      <span class="text-giohang hidden-xs">Giỏ hàng</span>
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bot-header d-none d-sm-none d-lg-block">
      <div class="container">
        <div class="row">
          <nav class="header-nav">
            <ul class="item_big">
              <li class="nav-item active">
                <a class="a-img" href="#" th:href="@{/home}" >
                  <span>TRANG CHỦ</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="a-img" href="#">
                  <span>Gấu Bông Teddy Cao Cấp</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="a-img" href="#" >
                  <span>Gấu Bông Teddy Khổng Lồ</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="a-img" href="#">
                  <span>Gấu Bông Hottrend</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="a-img" href="#" title="Tin tức">
                  <span>Gấu Bông Lena</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="a-img" href="#" title="Tin tức">
                  <span>Gấu Bông Teddy Nhỏ</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:fragment="footer">
  <div class="footer_wwap">
    <footer class="footer">
      <div class="site-footer">
        <div class="mid-footer">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="widget-ft first">
                  <h4 class="title-menu">
                    <a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapseListMenu01" aria-controls="collapseListMenu01">
                      Về chúng tôi <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                  </h4>
                  <div class="collapse" id="collapseListMenu01">
                    <ul class="list-menu hotline_ul">
                      <li>HOTLINE:
                        <a href="tel:18006750">18006750</a>

                      </li>
                    </ul>
                    <ul class="list-menu">

                      <li class="li_menu"><a th:href="@{/home}" title="Khuyến mãi hot">TRANG CHỦ</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Teddy Cao Cấp</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Teddy Khổng Lồ</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Hottrend</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Lena</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Teddy Nhỏ</a></li>

                      <li class="li_menu"><a href="/tin-tuc" >Tin tức</a></li>

                      <li class="li_menu"><a th:href="@{/contact}" title="Liên hệ">Liên hệ</a></li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="widget-ft first">
                  <h4 class="title-menu">
                    <a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapseListMenu02" aria-controls="collapseListMenu02">
                      Chính sách chung <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                  </h4>
                  <div class="collapse" id="collapseListMenu02">
                    <ul class="list-menu">

                      <li class="li_menu"><a th:href="@{/home}" title="Khuyến mãi hot">TRANG CHỦ</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Teddy Cao Cấp</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Teddy Khổng Lồ</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Hottrend</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Lena</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Teddy Nhỏ</a></li>

                      <li class="li_menu"><a href="/tin-tuc" >Tin tức</a></li>

                      <li class="li_menu"><a th:href="@{/contact}" title="Liên hệ">Liên hệ</a></li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="widget-ft first">
                  <h4 class="title-menu">
                    <a role="button" class="collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapseListMenu03" aria-controls="collapseListMenu03">
                      Trợ giúp <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                  </h4>
                  <div class="collapse" id="collapseListMenu03">
                    <ul class="list-menu">

                      <li class="li_menu"><a th:href="@{/home}" title="Khuyến mãi hot">TRANG CHỦ</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Teddy Cao Cấp</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Teddy Khổng Lồ</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Hottrend</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Lena</a></li>

                      <li class="li_menu"><a href="#" >Gấu Bông Teddy Nhỏ</a></li>

                      <li class="li_menu"><a href="/tin-tuc" >Tin tức</a></li>

                      <li class="li_menu"><a th:href="@{/contact}" title="Liên hệ">Liên hệ</a></li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <h4 class="title-menu"><a>Bản đồ</a></h4>
                <div class="iFrameMap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1057.0858629712309!2d105.9327234680981!3d21.47115794683755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31352359163b3e53%3A0x4988677111d03dee!2zVGnhu4dtIGLDoW5oIHNpbmggbmjhuq10IFPDs2MgQmFrZXJ5!5e0!3m2!1sen!2s!4v1598514624883!5m2!1sen!2s" width="400" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
              </div>
            </div>
            <div class="border-bottom-1px"></div>
          </div>
          <div class="bg-footer-bottom copyright clearfix">
            <div class="inner clearfix container">
              <div class="row tablet">
                <div id="copyright" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a-center fot_copyright">
                        <span class="wsp"><span class="mobile">© Bản quyền thuộc về <b>Awesome Team</b><span class="hidden-xs line_footer"> | </span></span><span class="opacity1">Cung cấp bởi</span>
                          <a href="https://www.sapo.vn/?utm_campaign=cpn:site_khach_hang-plm:footer&amp;utm_source=site_khach_hang&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=site_khach_hang" rel="nofollow" title="Sapo" target="_blank">Sapo</a>
                        </span>
                </div>
              </div>
            </div>
            <a href="#" class="backtop" title="Lên đầu trang"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
</html>