<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Theme website Teddy’s dành cho webiste quà tặng, đồ cho bé</title>
    <meta name="description" content="Giao diện website Teddy’s sẽ là lựa chọn hoàn hảo cho website cửa hàng đồ lưu niệm, Hoa quà tặng, đồ mẹ và bé, siêu thị mini..">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/product_type.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/quickviews_popup_cart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/productReviews.css}">
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.2/dist/lazyload.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


</head>
<body>
<div class="inbody">

    <div th:replace="~{fragments/fragments :: header}"></div>

    <main role="main">
        <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
        <div class="container mt-4">
            <form class="needs-validation" name="frmthanhtoan" th:action="@{/checkout}" th:object="${saleOrder}" method="post" action="#">
                <input type="hidden" name="kh_tendangnhap" value="dnpcuong">

                <div class="py-5 text-center">
                    <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                    <h2>Thanh toán</h2>
                    <p class="lead">Vui lòng kiểm tra thông tin Khách hàng, thông tin Giỏ hàng trước khi Đặt hàng.</p>
                </div>

                <div class="row">
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Giỏ hàng</span>
<!--                            <span class="badge badge-secondary badge-pill"></span>-->
                        </h4>
                        <ul class="list-group mb-3">

                            <li class="list-group-item d-flex justify-content-between lh-condensed" th:each="item : ${session.cart.cartItems}">
                                <div>
                                    <h6 class="my-0" th:text="${item.productName}"></h6>
                                    <small class="text-muted" th:text="${#numbers.formatCurrency(item.priceUnit)}"></small>
                                    <small class="text-muted" > x </small>
                                    <small class="text-muted" th:text="${item.quanlity}"></small>
                                </div>
                                <span class="text-muted" th:text="${#numbers.formatCurrency(item.priceUnit * item.quanlity)}"></span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Tổng thành tiền</span>
                                <strong th:text="${#numbers.formatCurrency(session.totalPrice)}"></strong>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">Thông tin khách hàng</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <label >Họ tên</label>
                                <input th:field="*{customerName}" type="text"  class="form-control" id="customerFullName" name="customerFullName">
                            </div>
                            <div class="col-md-12">
                                <label >Địa chỉ</label>
                                <input th:field="*{customerAddress}" type="text" class="form-control"id="customerAddress" name="customerAddress">
                            </div>
                            <div class="col-md-12">
                                <label >Điện thoại</label>
                                <input th:field="*{customerPhone}" type="text" class="form-control"id="customerPhone" name="customerPhone">
                            </div>
                            <div class="col-md-12">
                                <label>Email</label>
                                <input th:field="*{customerEmail}" type="text" class="form-control" id="customerEmail" name="customerEmail">
                            </div>
                        </div>

                        <h4 class="mb-3">Hình thức thanh toán</h4>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input th:field="*{pay}" th:value="COD" id="httt-3" name="httt_ma" type="radio" class="custom-control-input" required=""
                                       value="3">
                                <label class="custom-control-label" for="httt-3">Ship COD</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input  th:field="*{pay}" th:value="VnPay" id="httt-2" name="httt_ma" type="radio" class="custom-control-input" required=""
                                        value="2">
                                <label class="custom-control-label" for="httt-2">Chuyển khoản</label>
                            </div>
                            <!-- Hình ảnh VNPAY -->
                            <a th:src="@{${vnpay}}" alt="VnPay Image">
                                <img id="vnpay-image" src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-VNPAY-QR-1.png" style="display: none; width: 120px; height: 70px">
                            </a>

                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit" name="btnDatHang">Đặt
                            hàng</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- End block content -->
    </main>

    <div th:replace="~{fragments/fragments :: footer}"></div>

</div>
<script>
    const radioChuyenKhoan = document.getElementById("httt-2");
    const vnpayImage = document.getElementById("vnpay-image");

    radioChuyenKhoan.addEventListener("change", function () {
        if (radioChuyenKhoan.checked) {
            vnpayImage.style.display = "block";
        } else {
            vnpayImage.style.display = "none";
        }
    });
</script>
<script src="./js/config.js"></script>
<script src="./js/main.js"></script>

</body>
</html>